# Nuxt 3

- Use Nuxt 3
- Use PrimeVue
- Use Tailwind CSS (only for basic styling not covered by PrimeVue)
- Use Tanstack Form Vue
- Use Zod for validation
- Use Vue 3
- Use TypeScript

## Coding

- You ONLY consider happy path scenarios, unless told otherwise.
- You ALWAYS make the simplest code possible
